<h1>
	You have written with 4 different colored pencils. Below is a report of your actions.
</h1>

<h2>
	Here is the final paper you have written:
</h2>

<h3>
	'<font color='orange'><%= $orangeanswer %> </font>
	<font color='red'> <%= $redanswer %> </font>
	<font color='blue'> <%= $blueanswer %> </font>
	<font color='green'> <%= $greenanswer %></font>'
</h3>

<h2>
	Orange Pencil:
</h2>

<h3>
	Lead Point Size: <%= $orangelead %>
</h3>

<h3>
	Amount of characters originally available to write: <%= $orangeoriginallength %>
</h3>

<h3>
	Amount of characters this pencil can still write: <%= $orangelength %>
</h3>

<h3>
	Characters written by this pencil: <font color='orange'> <%= $orangeanswer %> </font>
</h3>

<h3>
	Characters sorted by sorting algorithm: <%= $orangesortedstring %>
</h3>

<h2>
	Red Pencil:
</h2>

<h3>
	Lead Point Size: <%= $redlead %>
</h3>

<h3>
	Amount of characters originally available to write: <%= $redoriginallength %>
</h3>

<h3>
	Amount of characters this pencil can still write: <%= $redlength %>
</h3>

<h3>
	Characters written by this pencil: <font color='red'> <%= $redanswer %> </font>
</h3>

<h3>
	Characters sorted by sorting algorithm: <%= $redsortedstring %>
</h3>

<h2>
	Blue Pencil:
</h2>

<h3>
	Lead Point Size: <%= $bluelead %>
</h3>

<h3>
	Amount of characters originally available to write: <%= $blueoriginallength %>
</h3>

<h3>
	Amount of characters this pencil can still write: <%= $bluelength %>
</h3>

<h3>
	Characters written by this pencil: <font color='blue'> <%= $blueanswer %> </font>
</h3>

<h3>
	Characters sorted by sorting algorithm: <%= $bluesortedstring %>
</h3>

<h2>
	Green Pencil:
</h2>

<h3>
	Lead Point Size: <%= $greenlead %>
</h3>

<h3>
	Amount of characters originally available to write: <%= $greenoriginallength %>
</h3>

<h3>
	Amount of characters this pencil can still write: <%= $greenlength %>
</h3>

<h3>
	Characters written by this pencil: <font color='green'> <%= $greenanswer %> </font>
</h3>

<h3>
	Characters sorted by sorting algorithm: <%= $greensortedstring %>
</h3>
