<h1>
	You have written with 4 different colored pencils. Here is your status report: 	
</h1>

<h2>
	Here is the final paper you have written: 
</h2>

<h3>
	<%= paper %>
</h3>

<h2>
	Orange Pencil:
</h2>

<h3>
	Original Length: <%= $orangeoriginallength %>
</h3>

<h3>
	Current Length: <%= $orangelength %>
</h3>

<h3>
	Lead Size: <%= $orangelead %>
</h3>

<h2>
	Red Pencil:
</h2>

<h3>
	Original Length: <%= $redoriginallength %>
</h3>

<h3>
	Current Length: <%= $redlength %>
</h3>

<h3>
	Lead Size: <%= $redlead %>
</h3>

<h2>
	Blue Pencil:
</h2>

<h3>
	Original Length: <%= $blueoriginallength %>
</h3>

<h3>
	Current Length: <%= $bluelength %>
</h3>

<h3>
	Lead Size: <%= $bluelead %>
</h3>

<h2>
	Green Pencil:
</h2>

<h3>
	Original Length: <%= $greenoriginallength %>
</h3>

<h3>
	Current Length: <%= $greenlength %>
</h3>

<h3>
	Lead Size: <%= $greenlead %>
</h3>
